
@media screen and (min-width: 982px){
  .child2 {
    display: none!important;    
  }
  
}
@media screen and (max-width: 982px){
  .child1 {
    display: none!important;
  }
  .child2 {
   display: block!important;
  }
}